.ipynb_checkpoints/
*.pyc
$*
/notes/*.aux
/notes/*.bbl
/notes/*.bcf
/notes/*.blg
/notes/*.fls
/notes/*.gz
/notes/*.log
/notes/*.out
/notes/*.pdf
/notes/*.xml
/notes/*.yaml
/notes/notesNotes.bib
/tmp/*
/figs/generated/*